* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;
}

.container {
    border: 1px solid black;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

footer {
    text-align: center;
}